In [42]:
#Attribute Information:

#Date, time year-month-day hour:minute:second

#Appliances, energy use in Wh

#lights, energy use of light fixtures in the house in Wh

#T1, Temperature in kitchen area, in Celsius

#RH_1, Humidity in kitchen area, in %

#T2, Temperature in living room area, in Celsius

#RH_2, Humidity in living room area, in %

#T3, Temperature in laundry room area

#RH_3, Humidity in laundry room area, in %

#T4, Temperature in office room, in Celsius

#RH_4, Humidity in office room, in %

#T5, Temperature in bathroom, in Celsius

#RH_5, Humidity in bathroom, in %

#T6, Temperature outside the building (north side), in Celsius

#RH_6, Humidity outside the building (north side), in %

#T7, Temperature in ironing room , in Celsius

#RH_7, Humidity in ironing room, in %

#T8, Temperature in teenager room 2, in Celsius

#RH_8, Humidity in teenager room 2, in %

#T9, Temperature in parents room, in Celsius

#RH_9, Humidity in parents room, in %

#To, Temperature outside (from Chievres weather station), in Celsius

#Pressure (from Chievres weather station), in mm Hg

#RH_out, Humidity outside (from Chievres weather station), in %

#Wind speed (from Chievres weather station), in m/s

#Visibility (from Chievres weather station), in km

#Tdewpoint (from Chievres weather station), Â °C

#rv1, Random variable 1, nondimensional

#rv2, Random variable 2, nondimensional

#To answer some questions, you will need to normalize the dataset 
#using the MinMaxScaler after removing the following columns: [“date”, “lights”]. 
#The target variable is “Appliances”. 
#Use a 70-30 train-test set split with a random state of 42 (for reproducibility). 
#Run a multiple linear regression using the training set and evaluate your model on the test set.

In [43]:
import pandas as pd

In [44]:
dfc= pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [45]:
dfc.describe(include='all')

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
unique,19735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2016-05-03 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,NaN,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,NaN,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,NaN,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,NaN,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,NaN,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,NaN,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [46]:
dfc

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [47]:
dfc.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [48]:
dfc.drop(['date','lights'], inplace=True, axis=1)

In [49]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_dfc = pd.DataFrame(scaler.fit_transform(dfc), columns=dfc.columns)
features_dfc = normalised_dfc.drop(columns=['Appliances', 'rv1'])
energy_target = normalised_dfc['Appliances']

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_dfc, energy_target, test_size=0.3, random_state=42)

In [51]:
from sklearn.linear_model import LinearRegression

In [52]:
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [53]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

In [54]:
#R-squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.149

In [55]:
#residual sum of squares
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

45.348

In [56]:
#root mean square error
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [57]:
#ridge regression
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5)

In [77]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [78]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.032

In [58]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [ ]:
#new lasso regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

In [59]:
def get_weights_dfc(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_dfc = pd.DataFrame(weights).reset_index()
    weights_dfc.columns = ['Features', col_name]
    weights_dfc[col_name].round(3)
    return weights_dfc

In [60]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
linear_model_weights = get_weights_dfc(linear_model, x_train, 'Linear_Model_Weight')

In [61]:
ridge_weights_dfc = get_weights_dfc(ridge_reg, x_train, 'Ridge_Weight')

In [79]:
lasso_weights_dfc = get_weights_dfc(lasso_reg, x_train, 'Lasso_weight')

In [63]:
final_weights = pd.merge(linear_model_weights, ridge_weights_dfc, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_dfc, on='Features')

In [64]:
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.456698     -0.401134     -0.000000
1         T_out            -0.321860     -0.250765      0.000000
2            T2            -0.236178     -0.193880      0.000000
3            T9            -0.189941     -0.188584     -0.000000
4          RH_8            -0.157595     -0.156596     -0.000110
5        RH_out            -0.077671     -0.050541     -0.049557
6          RH_7            -0.044614     -0.046291     -0.000000
7          RH_9            -0.039800     -0.041701     -0.000000
8            T5            -0.015657     -0.020727     -0.000000
9            T1            -0.003281     -0.021549      0.000000
10          rv2             0.001540      0.001487     -0.000000
11  Press_mm_hg             0.006839      0.006516     -0.000000
12           T7             0.010319      0.010021     -0.000000
13   Visibility             0.012307      0.012032      0.000000
14         RH_5             0.016006      0.016176      0.000000
15         RH_4             0.026386      0.024168      0.000000
16           T4             0.028981      0.027006     -0.000000
17    Windspeed             0.029183      0.030463      0.002912
18         RH_6             0.038049      0.035023     -0.000000
19         RH_3             0.096048      0.094976      0.000000
20           T8             0.101995      0.100754      0.000000
21    Tdewpoint             0.117758      0.076668      0.000000
22           T6             0.236425      0.213316      0.000000
23           T3             0.290627      0.287408      0.000000
24         RH_1             0.553547      0.511932      0.017880

In [69]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_dfc = pd.DataFrame(scaler.fit_transform(dfc), columns=dfc.columns)
features_dfc = normalised_dfc.drop(columns=['T2', 'T6'])
temp_target = normalised_dfc['T2']

In [70]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_dfc, temp_target, test_size=0.3, random_state=42)

In [71]:
from sklearn.linear_model import LinearRegression

In [72]:
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

In [73]:
#R-squared
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.96

In [74]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.022

In [75]:
#residual sum of squares
import numpy as np
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 3)

5.951

In [76]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.032

In [88]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [89]:
from sklearn.metrics import  mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.032

In [83]:
def get_weights_dfc(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_dfc = pd.DataFrame(weights).reset_index()
    weights_dfc.columns = ['Features', col_name]
    weights_dfc[col_name].round(3)
    return weights_dfc

In [84]:
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
linear_model_weights = get_weights_dfc(linear_model, x_train, 'Linear_Model_Weight')

In [85]:
lasso_weights_dfc = get_weights_dfc(lasso_reg, x_train, 'Lasso_weight')

In [86]:
lasso_weights_dfc

       Features  Lasso_weight
0          RH_2     -0.535951
1        RH_out     -0.021085
2          RH_6     -0.012658
3    Appliances      0.000000
4     Tdewpoint      0.000000
5    Visibility      0.000000
6     Windspeed     -0.000000
7   Press_mm_hg     -0.000000
8          RH_9      0.000000
9            T9      0.000000
10         RH_8      0.000000
11           T8     -0.000000
12         RH_7      0.000000
13           T7      0.000000
14         RH_5      0.000000
15           T5      0.000000
16           T3      0.000000
17          rv1      0.000000
18          rv2      0.000000
19         RH_3      0.083876
20         RH_1      0.111629
21           T4      0.138948
22        T_out      0.195755
23         RH_4      0.219394
24           T1      0.428008